*{
   margin: 0;
}

         html, body {
            --black: hsl(240, 6%, 13%);
            --gray: hsl(240, 9%, 89%);

            height: 100%;
            font-family: 'Roboto', sans-serif;
            -webkit-font-smoothing: antialiased;
         }

         body {
            display: grid;
            place-items: center;
         }
       
         main {
            background: url(images/background.svg) no-repeat center/cover;
            width: 100vw;
            min-height : 812px;
            height: 100vh;
         }

        .container {
         max-width: 250px;
         margin-left: auto;
         margin-right: auto;
         text-align: center;

         color: var(--gray);
        }

        .avatar {
          width: 10rem;
          margin: 11.5rem auto 0;
         position: relative;
        }
        
        .avatar span {
         position: absolute;
         top: -15px;
         z-index: 1;
         left: -25px;
         animation-name: animacao;
         animation-duration:1s;
         animation: animacao infinite 25s linear;
        }

        .avatar > img {
         width: 10rem;
         height: 11.5rem;
         object-fit: cover;

         clip-path: polygon(53% 0, 100% 25%, 100% 75%, 53% 100%, 0 75%, 0 25%)
        }

         h1  {
         font-size: 1.5rem;
         margin-top: 1.5rem;
       }

       a {
          color: var(--gray);
          text-decoration: none;

          margin-top: 0.5rem;
          display: flex;
          gap: 0.75rem;

          justify-content: center;
         }
         
         p{
            margin-top: 2rem;
         }

         ul{
            margin-top: 4rem;
            list-style: none;
            padding: 0;

            display: flex;
            gap: 0.5rem;

            justify-content: center;
         }

         @keyframes animacao {
            from{
               transform: translate(2rem) rotate(0deg);
            }
         to{
            transform: translate(2rem) rotate(360deg);
         }
            
         }

         #youtube {
            filter:grayscale(100%);
            -webkit-filter:grayscale(100%);
            transition: 1s;
         }

         #facebook {
            filter:grayscale(100%);
            -webkit-filter:grayscale(100%);
            transition: 1s;
         }

         #instagram {
            filter:grayscale(100%);
            -webkit-filter:grayscale(100%);
            transition: 1s;
         }
         
         #twitter {
            filter:grayscale(100%);
            -webkit-filter:grayscale(100%);
            transition: 1s;
         }




        #instagram:hover{
         filter: none;
         -webkit-filter: none;
           transition-timing-function: cubic-bezier(-0,43,56,7);
           transition-duration: 1s;
           border-radius: 50%;
        }

        #facebook:hover{
         filter: none;
         -webkit-filter: none;
         transition-timing-function: cubic-bezier(-0,43,56,7);
         transition-duration: 1s;
         border-radius: 50%;
      }

      #twitter:hover{
         filter: none;
         -webkit-filter: none;
         transition-timing-function: cubic-bezier(-0,43,56,7);
         transition-duration: 1s;
         border-radius: 50%;
      }

      #youtube:hover{
         filter: none;
         -webkit-filter: none;
         transition-timing-function: cubic-bezier(-0,43,56,7);
         transition-duration: 1s;
         border-radius: 50%;
      }


         